html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: #fff;
}

.top-navigation > .content {

	width: 970px;
	height: 70px;
	margin-right: auto;
	padding: 0.5em 24.2em;
}

.top-navigation > .links {
	float: right;
	font-size: 1.02em;
	color: #838994;
	letter-spacing: 0.03em;
	margin-right: 23em;
	margin-top: -45px;
	-webkit-font-smoothing: antialiased;
}

.links > li {
	display: inline-block;
	margin-left: 1.7em;
	
}

.links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	background-color: #333333;
}

.introduction {
	background-image: url('../images/first-background copy.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height:42em;
	margin-top: -0.5em;
	overflow: auto;
}

.introduction h1, .introduction h3 {
	color: #ffffff;
	text-align: center;
	font-weight: 300;
}

.introduction h1 {
	margin-top: 13rem;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: -1em;
	font-size: 1.563rem;
}

.big-button {
	width: 9rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	line-height: 1.33;
	margin: 0 auto;
	font-size: 1.125rem;
	display: block;
}

.big-button:hover {
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

.cases .content {
	text-align: center;
	color: #1D1E21;
	padding:none;
}

.content > h2 {
	margin-top: 7.875rem;
	font-size: 2.75em;
	font-weight: 300;
}

.cases .devices {
	width: 33.3333333%;
	float: left;
}

.cases .devices > h3 {
	margin: 2.5rem 0px 1.875rem;
	font-weight: 400;
	font-size: 1.563em;
}

.device-container {
	width: 75%;
	margin: 0 auto;
}

.social hr {
	border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.social {
	padding-bottom: 9.375rem;
	text-align: center;
}

.social .icons > li {
	text-align: center;
	display: inline-block;
	border: 1px solid;
	border-radius: 1.25rem;
	width:2.5rem;
	height: 2.5rem;
	margin: 1.25rem 5px;
	padding: 0.625rem 0;

}
